@import './base.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  --bg: #1f1f1d;
  --web-bg: #1f1f1d;
  --surface: #11151f;
  --surface-soft: #131825;
  --surface-strong: #161a2d;
  --border: #262626;
  --text: #d8dbe8;
  --muted: #8f96b3;
  --accent: #8f6eff;
  --accent-soft: #6ab8ff;
  --button: #6e54d0;
  --button-hover: #8367ff;
  --kots-background-color: #1f1f1d;
  --kots-blocks-color: #171715;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#app {
  background-color: #1f1f1d;
}

.driver-popover.kots-driver-popover {
  background-color: #171715;
  border-radius: 0.5rem;
  color: white;
  padding: 18px;
  box-shadow: 0 12px 30px rgb(0 0 0 / 40%);
}

.driver-popover.kots-driver-popover .driver-popover-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.driver-popover.kots-driver-popover .driver-popover-description {
  @apply text-zinc-400 text-sm;
  line-height: 1;
}

.driver-popover.kots-driver-popover .driver-popover-progress-text {
  color: #a2a1a6;
}

.driver-popover.kots-driver-popover .driver-popover-prev-btn,
.driver-popover.kots-driver-popover .driver-popover-next-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  text-shadow: none;
}

.driver-popover.kots-driver-popover .driver-popover-prev-btn {
  background-color: #2a2a27;
  color: white;
}

.driver-popover.kots-driver-popover .driver-popover-next-btn {
  background-color: #a5f3fc;
  color: #171715;
}

.driver-popover.kots-driver-popover .driver-popover-close-btn {
  color: #a2a1a6;
}

.driver-popover.kots-driver-popover .driver-popover-close-btn:hover {
  color: white;
}
