@import './base.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  --bg: #1f1f1d;
  --web-bg: #1f1f1d;
  --surface: #11151f;
  --surface-soft: #131825;
  --surface-strong: #161a2d;
  --border: #262626;
  --text: #d8dbe8;
  --muted: #8f96b3;
  --accent: #8f6eff;
  --accent-soft: #6ab8ff;
  --button: #6e54d0;
  --button-hover: #8367ff;
  --kots-background-color: #1f1f1d;
  --kots-blocks-color: #171715;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#app {
  background-color: #FACC15;
}
