{
    order coraza_waf first
    order rate_limit before reverse_proxy
}

localhost, 127.0.0.1 {
    tls internal

    # WebSockets (sin WAF ni rate limit)
    handle /api/ws* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    # API REST
    handle /api/* {
        rate_limit {
            zone api_zone {
                key {remote_host}
                events 30
                window 1m
            }
        }

        coraza_waf {
            load_owasp_crs
            directives `
                Include @coraza.conf-recommended
                Include @crs-setup.conf.example
                Include @owasp_crs/*.conf
                SecRuleEngine On
            `
        }

        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    # Frontend
    handle {
        rate_limit {
            zone static_zone {
                key {remote_host}
                events 100
                window 1m
            }
        }

        coraza_waf {
            load_owasp_crs
            directives `
                Include @coraza.conf-recommended
                Include @crs-setup.conf.example
                Include @owasp_crs/*.conf
                SecRuleEngine On
            `
        }

        root * /dist
        try_files {path} /index.html
        file_server
    }

    log {
        output stdout
        format console
    }
}